[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git@github.com:tpope/vim-bundler.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "bundle/vim-rspec"]
	path = bundle/vim-rspec
	url = git@github.com:thoughtbot/vim-rspec.git
[submodule "bundle/vim-sleuth"]
	path = bundle/vim-sleuth
	url = git@github.com:tpope/vim-sleuth.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
